/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-text), sans-serif;
  font-size: 18px;
  font-variation-settings: "wght" var(--font-weight-main);
  background-color: #bfbfbf;
  background-image: repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
                    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
                    linear-gradient(#e7e7e7, #1a1a1a);
  background-size: cover;
  background-attachment: fixed;
}

/* Стили шапки */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
  padding-block: var(--header-padding-block);
  width: var(--post-width);
  background-color: #fff;
  border: 2px solid #000;
  margin-block-start: 100px;
  margin-block-end: 102px;
}

.header-title {
  margin: 0 auto;
  width: min-content;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
}

.header-subtitle {
  margin: 0 auto;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

/* Акцент */

.decor-text {
  font-family: var(--accent-text), fantasy;
}

/* Стили карточек */

.article-title {
  padding-inline: 10px;
  padding-block: var(--article-title-padding-block);
  font-size: 18px;
  font-variation-settings: "wght" var(--font-weight-title);
  border: 2px solid #000;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: var(--gap-between-posts);
}

.post {
  margin: 0 auto;
  width: var(--post-width);
  background-color: #fff;
  /* border: 2px solid #000; */
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-between-p);
  padding-block: var(--content-padding-block);
  padding-inline: var(--content-padding-inline);
  line-height: 21px;
  border: 2px solid #000;
}

/* Стили кнопок */

.buttons {
  display: flex;
  gap: var(--gap-into-buttons);
  align-self: end;
  height: min-content;
  align-items: center;
  margin-block-start: -2px;
}

.general-button {
  position: relative;
  padding: 0;
  background-color: #fff;
  border: 2px solid #000;
  font-size: 14px;
  overflow: hidden;
  cursor: pointer;
}

.button__text {
  display: inline;
  position: relative;
  z-index: 1;
  width: 100%;
  color: #fff;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  height: 36px;
  width: 39px;
  transition: outline 0.3s ease;
}

.card__like-button {
  width: 130px;
  height: 38px;
}

/* Стили картинок */

.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.image-with-watermark {
  position: relative;
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  border-inline: 2px solid #000;
}

.watermark {
  position: absolute;
  top: 25px;
  right: 11px;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  opacity: 50%;
  color: rgb(0 0 0);
  mix-blend-mode: hard-light;
  text-shadow:
  -1px 0 #fff,
  0 1px #fff,
  1px 0 #fff,
  0 -1px #fff;
}

/* Фильтры для картинок */

.contrast-blur-filter {
  filter: contrast(0.7) blur(0.1rem);
}

.black-white-filter {
  filter: grayscale(0.6);
}

.blur-filter {
  filter: blur(0.1rem);
}

.sepia-filter {
  filter: sepia(0.5);
}

.contrast-sepia-filter {
  filter: contrast(0.9) sepia(0.3);
}

.saturation-filter {
  filter: saturate(0.6);
}

/* Стили  кнопок по наведению курсора (перекрашивание черным) */

.text-button {
  transition: box-shadow 0.3s ease;
}

.text-button:focus {
  outline: none;
  box-shadow: 2px 2px #000;
  /* transition: box-shadow 0.3s ease; */
}

.text-button:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  left: -100%;
  top: 0;
  transform: translateX(0%);
  transition: transform 0.5s ease-in-out;
}

.text-button:hover:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: translateX(100%);
  /* transition: transform 0.5s ease-in-out; */
}

/* Кнопка "Сохранить" */

.save-button {
  display: grid;
  /* flex-direction: row; */
  grid-template-columns: min-content auto;
  justify-content: center;
  align-content: center;
  align-items: center;
  /* position: relative; */
  margin: 0 auto;
  padding-block: var(--save-button-padding-block);
  padding-inline: var(--save-button-padding-inline);
  gap: 8px;
  margin-block-end: 103px;
}

.floppy {
  color: #fff;
  mix-blend-mode: difference;
}

.save-button .floppy {
  position: relative;
  z-index: 1;
  width: 21px;
  height: 21px;
}

.save-button__text {
  text-wrap: no-wrap;
  transform: translate(0,0);
}

/* Диалоговое окно */

.dialog-window {
  text-transform: uppercase;
  font-size: 14px;
  padding: var(--dialog-window-padding-block) var(--dialog-window-padding-inline);
  min-width: var(--dialog-window-width);
}

.dialog-window-content {
  display: flex;
  flex-direction: row;
  gap: 19px;
  justify-content: center;
  align-items: center;
}

.dialog-window-content .decor-text {
  width: 234px;
  line-height: 150%;
}

.floppy-wrapper {
  height: 40px;
  width: 40px;
}

.dialog-window[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog-window .close-button span {
  text-transform: uppercase;
}

.dialog-window::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.close-button {
  min-height: 38px;
  width: 100%;
}

/* Стили сердечка */

.card__icon-button:focus {
  outline: none;
  outline-offset: 0;
}

.card__icon-button:focus-visible {
  outline: 2px solid #000;
  /* transition: outline 0.3s ease; */
}

@supports (text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff) {
  .watermark {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
  }
}

@media (max-width: 375px) {
  .save-button .floppy {
    width: 28px;
    height: 28px;
  }

  .save-button {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
  }
}