/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-text: Inter-Variable;
    --accent-text: PressStart2P;
    --font-weight-main: 400;
    --font-weight-title: 700;

    --post-width: clamp(375px, 100%, 700px);
    --article-title-padding-block: 4px;
    --content-padding-inline: 25px;
    --gap-between-posts: 51px;

    --content-padding-block: 25px;
    --gap-between-p: 27px;
    --gap-into-buttons: 10px;

    --header-padding-block: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);
    --header-padding-inline: clamp(0.875rem, -1.5128rem + 10.1878vw, 7.65625rem);

    --contour-color: #000;
    --animation-fill-color: #FF0000;

    --save-button-height: 51px;
    --save-button-width: 335px;

    --dialog-window-width: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
    --dialog-window-height: 191px;
    --dialog-window-padding-block: 30px;
    --dialog-window-padding-inline: 30px;
}

@media (max-width: 375px) {
    :root {
      --article-title-padding-block: 3px;
      --gap-between-posts: 53px;
      --save-button-height: 80px;
      --save-button-width: 306px;
    }
}